<!-- <nav class="navbar">
<a ui-sref="home">{{ $ctrl.name }}</a><li ng-if="!$ctrl.authState">
-->

<div class="toolbar group">
  <div class="cart-btn" ng-if="$ctrl.authState">
    <a class="btn btn-outlined-invert" ng-if="$ctrl.authState">
      <i class="icon-squares"></i>
    </a>

    <!--Search Dropdown-->
    <div class="cart-dropdown">
        <span></span>
        <!--Small rectangle to overlap Cart button-->
        <div class="body">
          <table>
            <tr>
              <th>Items</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
            <tr class="item">
              <td>
                <div class="delete"></div>
                <a href="#">Good Joo-Joo Surfb</a>
              </td>
              <td>
                <input type="text" value="1">
              </td>
              <td class="price">89 005 $</td>
            </tr>
            <tr class="item">
              <td>
                <div class="delete"></div>
                <a href="#">Good Joo-Joo Item</a>
              </td>
              <td>
                <input type="text" value="2">
              </td>
              <td class="price">4 300 $</td>
            </tr>
            <tr class="item">
              <td>
                <div class="delete"></div>
                <a href="#">Good Joo-Joo</a>
              </td>
              <td>
                <input type="text" value="5">
              </td>
              <td class="price">84 $</td>
            </tr>
          </table>
        </div>
        <div class="footer group">
          <div class="buttons">
            <a class="btn btn-outlined-invert" href="checkout.html">
              <i class="icon-download"></i>Checkout</a>
            <a class="btn btn-outlined-invert" href="shopping-cart.html">
              <i class="icon-shopping-cart-content"></i>To cart</a>
          </div>
          <div class="total">93 389 $</div>
        </div>
      </div>
      <!--Cart Dropdown Close-->
  </div>
  <div class="middle-btns">
    <a class="btn-outlined-invert" href="wishlist.html" ng-if="$ctrl.authState">
      <i class="icon-hourglass"></i>
      <span>7 sessions</span>
    </a>
    <a class="login-btn btn-outlined-invert" href="" ng-click="$ctrl.login()" ng-if="!$ctrl.authState">
      <i class="icon-profile"></i>
      <span>Connexion</span>
    </a>
    <a class="login-btn btn-outlined-invert" href="" ng-click="$ctrl.logout()" ng-if="$ctrl.authState">
      <i class="icon-profile-remove"></i>
      <span>Quitter</span>
    </a>
  </div>
  <div class="cart-btn" ng-if="$ctrl.authState">
    <a class="btn btn-outlined-invert" href="shopping-cart.html">
      <i class="icon-shopping-cart-content"></i>
      <span>3</span>
    </a>

    <!--Cart Dropdown-->
    <div class="cart-dropdown">
      <span></span>
      <!--Small rectangle to overlap Cart button-->
      <div class="body">
        <table>
          <tr>
            <th>Items</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          <tr class="item">
            <td>
              <div class="delete"></div>
              <a href="#">Good Joo-Joo Surfb</a>
            </td>
            <td>
              <input type="text" value="1">
            </td>
            <td class="price">89 005 $</td>
          </tr>
          <tr class="item">
            <td>
              <div class="delete"></div>
              <a href="#">Good Joo-Joo Item</a>
            </td>
            <td>
              <input type="text" value="2">
            </td>
            <td class="price">4 300 $</td>
          </tr>
          <tr class="item">
            <td>
              <div class="delete"></div>
              <a href="#">Good Joo-Joo</a>
            </td>
            <td>
              <input type="text" value="5">
            </td>
            <td class="price">84 $</td>
          </tr>
        </table>
      </div>
      <div class="footer group">
        <div class="buttons">
          <a class="btn btn-outlined-invert" href="checkout.html">
            <i class="icon-download"></i>Checkout</a>
          <a class="btn btn-outlined-invert" href="shopping-cart.html">
            <i class="icon-shopping-cart-content"></i>To cart</a>
        </div>
        <div class="total">93 389 $</div>
      </div>
    </div>
    <!--Cart Dropdown Close-->
  </div>
</div>
<!--Toolbar Close-->
