<app-header></app-header>
<!--Page Content-->
<div class="page-content">
  <div id="firebaseui-auth-container"></div>
  <slideshow></slideshow>
  <div>
    <i class="icon-boat"></i>
    <i class="icon-booknote"></i>
    <i class="icon-booknote-add"></i>
    <i class="icon-booknote-remove"></i>
    <i class="icon-camera-1"></i>
    <i class="icon-camera-2"></i>
    <i class="icon-cloud-check"></i>
    <i class="icon-cloud-delete"></i>
    <i class="icon-cloud-download"></i>
    <i class="icon-cloud-upload"></i>
    <i class="icon-cloudy"></i>
    <i class="icon-cocktail"></i>
    <i class="icon-coffee"></i>
    <i class="icon-compass"></i>
    <i class="icon-compress"></i>
    <i class="icon-cutlery"></i>
    <i class="icon-delete"></i>
    <i class="icon-delete-folder"></i>
    <i class="icon-dialogue-add"></i>
    <i class="icon-dialogue-delete"></i>
    <i class="icon-dialogue-happy"></i>
    <i class="icon-dialogue-sad"></i>
    <i class="icon-dialogue-text"></i>
    <i class="icon-dialogue-think"></i>
    <i class="icon-diamond"></i>
    <i class="icon-dish-fork"></i>
    <i class="icon-dish-spoon"></i>
    <i class="icon-download"></i>
    <i class="icon-download-folder"></i>
    <i class="icon-expand"></i>
    <i class="icon-eye"></i>
    <i class="icon-fast-food"></i>
    <i class="icon-flag"></i>
    <i class="icon-folder"></i>
    <i class="icon-geolocalizator"></i>
    <i class="icon-globe"></i>
    <i class="icon-graph"></i>
    <i class="icon-graph-descending"></i>
    <i class="icon-graph-rising"></i>
    <i class="icon-hammer"></i>
    <i class="icon-happy-drop"></i>
    <i class="icon-headphones"></i>
    <i class="icon-heart"></i>
    <i class="icon-heart-broken"></i>
    <i class="icon-home"></i>
    <i class="icon-hourglass"></i>
    <i class="icon-image"></i>
    <i class="icon-key"></i>
    <i class="icon-life-buoy"></i>
    <i class="icon-list"></i>
    <i class="icon-lock-closed"></i>
    <i class="icon-lock-open"></i>
    <i class="icon-loudspeaker"></i>
    <i class="icon-magnifier"></i>
    <i class="icon-magnifier-minus"></i>
    <i class="icon-magnifier-plus"></i>
    <i class="icon-mail"></i>
    <i class="icon-mail-open"></i>
    <i class="icon-map"></i>
    <i class="icon-medical-case"></i>
    <i class="icon-microphone-1"></i>
    <i class="icon-microphone-2"></i>
    <i class="icon-minus"></i>
    <i class="icon-multiple-image"></i>
    <i class="icon-music-back"></i>
    <i class="icon-music-backtoend"></i>
    <i class="icon-music-eject"></i>
    <i class="icon-music-forward"></i>
    <i class="icon-music-forwardtoend"></i>
    <i class="icon-music-pause"></i>
    <i class="icon-music-play"></i>
    <i class="icon-music-random"></i>
    <i class="icon-music-repeat"></i>
    <i class="icon-music-stop"></i>
    <i class="icon-musical-note"></i>
    <i class="icon-musical-note-2"></i>
    <i class="icon-old-video-cam"></i>
    <i class="icon-paper-pen"></i>
    <i class="icon-paper-pencil"></i>
    <i class="icon-paper-sheet"></i>
    <i class="icon-pen-pencil-ruler"></i>
    <i class="icon-pencil"></i>
    <i class="icon-pencil-ruler"></i>
    <i class="icon-plus"></i>
    <i class="icon-portable-pc"></i>
    <i class="icon-pricetag"></i>
    <i class="icon-printer"></i>
    <i class="icon-profile"></i>
    <i class="icon-profile-add"></i>
    <i class="icon-profile-remove"></i>
    <i class="icon-rainy"></i>
    <i class="icon-rotate"></i>
    <i class="icon-setting-1"></i>
    <i class="icon-setting-2"></i>
    <i class="icon-share"></i>
    <i class="icon-shield-down"></i>
    <i class="icon-shield-left"></i>
    <i class="icon-shield-right"></i>
    <i class="icon-shield-up"></i>
    <i class="icon-shopping-cart"></i>
    <i class="icon-shopping-cart-content"></i>
    <i class="icon-sinth"></i>
    <i class="icon-smartphone"></i>
    <i class="icon-spread"></i>
    <i class="icon-squares"></i>
    <i class="icon-stormy"></i>
    <i class="icon-sunny"></i>
    <i class="icon-tablet"></i>
    <i class="icon-three-stripes-horiz"></i>
    <i class="icon-three-stripes-vert"></i>
    <i class="icon-ticket"></i>
    <i class="icon-todolist"></i>
    <i class="icon-todolist-add"></i>
    <i class="icon-todolist-check"></i>
    <i class="icon-trash-bin"></i>
    <i class="icon-tshirt"></i>
    <i class="icon-tv-monitor"></i>
    <i class="icon-umbrella"></i>
    <i class="icon-upload"></i>
    <i class="icon-upload-folder"></i>
    <i class="icon-variable"></i>
    <i class="icon-video-cam"></i>
    <i class="icon-volume-higher"></i>
    <i class="icon-volume-lower"></i>
    <i class="icon-volume-off"></i>
    <i class="icon-watch"></i>
    <i class="icon-waterfall"></i>
    <i class="icon-website-1"></i>
    <i class="icon-website-2"></i>
    <i class="icon-wine"></i>
    <i class="icon-calendar"></i>
    <i class="icon-alarm-clock"></i>
    <i class="icon-add-folder"></i>
    <i class="icon-accelerator"></i>
    <i class="icon-agenda"></i>
    <i class="icon-arrow-left"></i>
    <i class="icon-arrow-down"></i>
    <i class="icon-battery-1"></i>
    <i class="icon-case"></i>
    <i class="icon-arrow-up"></i>
    <i class="icon-arrow-right"></i>
    <i class="icon-case-2"></i>
    <i class="icon-cd"></i>
    <i class="icon-battery-2"></i>
    <i class="icon-battery-3"></i>
    <i class="icon-check"></i>
    <i class="icon-battery-4"></i>
    <i class="icon-chronometer"></i>
    <i class="icon-clock"></i>
    <i class="icon-blackboard-graph"></i>
  </div>
</div>
<app-footer></app-footer>
