<!--Hero Slider-->
<section class="hero-slider">
  <div class="master-slider" id="hero-slider">

    <!--Slide 1-->
    <div class="ms-slide" data-delay="7">
      <div class="overlay"></div>
      <img src="masterslider/blank.gif" data-src="img/hero/slideshow/slide_1.jpg" alt="Nikon D4S" />
      <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="top(50,true)" data-duration="700"
        data-delay="250" data-ease="easeOutQuad">Nikon D4S</h2>
      <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="back(500)" data-duration="700"
        data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="bottom(50,true)" data-duration="600" data-delay="950"
        data-ease="easeOutQuad">
        <a class="btn btn-primary" href="#">
          <span>1845$</span>Buy it now</a>
      </div>
    </div>

    <!--Slide 2-->
    <div class="ms-slide" data-delay="7">
      <span class="overlay"></span>
      <img src="masterslider/blank.gif" data-src="img/hero/slideshow/slide_2.jpg" alt="Nest" />
      <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700"
        data-delay="250" data-ease="easeOutQuad">Nest</h2>
      <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="bottom(50,true)" data-duration="700"
        data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="rotatebottom(30|90,long,br,true)" data-duration="600"
        data-delay="950" data-ease="easeOutQuad">
        <a class="btn btn-primary" href="#">
          <span>1640$</span>Buy it now</a>
      </div>
    </div>

    <!--Slide 3-->
    <div class="ms-slide" data-delay="7">
      <div class="overlay"></div>
      <img src="masterslider/blank.gif" data-src="img/hero/slideshow/slide_1.jpg" alt="3D Printer" />
      <h2 style="width: 456px; left: 110px; top: 110px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700"
        data-delay="250" data-ease="easeOutQuad">3D Printer</h2>
      <p style="width: 456px; left: 110px; top: 210px;" class="light-color ms-layer" data-effect="left(50,true)" data-duration="700"
        data-delay="500" data-ease="easeOutQuad">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
      <div style="left: 110px; top: 300px;" class="ms-layer button" data-effect="left(50,true)" data-duration="600" data-delay="950"
        data-ease="easeOutQuad">
        <a class="btn btn-primary" href="#">
          <span>2500$</span>Buy it now</a>
      </div>
    </div>

  </div>
</section>
<!--Hero Slider Close-->
