<!--Header-->
<header data-offset-top="500" data-stuck="600"><!--data-offset-top is when header converts to small variant and data-stuck when it becomes visible. Values in px represent position of scroll from top. Make sure there is at least 100px between those two values for smooth animation-->

  <!--Search Form-->
  <!-- <form class="search-form closed" method="get" role="form" autocomplete="off">
    <div class="container">
      <div class="close-search"><i class="icon-delete"></i></div>
        <div class="form-group">
          <label class="sr-only" for="search-hd">Search for procuct</label>
          <input type="text" class="form-control" name="search-hd" id="search-hd" placeholder="Search for procuct">
          <button type="submit"><i class="icon-magnifier"></i></button>
      </div>
    </div>
  </form> -->

  <!--Split Background-->
  <div class="left-bg"></div>
  <div class="right-bg"></div>

  <div class="container">
    <a class="logo" href="index.html"><img src="img/logo.png" alt="Bushido"/></a>
    <!--Language / Currency Switchers-->
    <!-- <ul class="switchers">
      <li>$
        <ul class="dropdown">
          <li><a href="#">&euro;</a></li>
          <li><a href="#">$</a></li>
        </ul>
      </li>
      <li>En
        <ul class="dropdown">
          <li><a href="#">En</a></li>
          <li><a href="#">Fr</a></li>
          <li><a href="#">Gr</a></li>
        </ul>
      </li>
    </ul> -->

    <!--Mobile Menu Toggle-->
    <div class="menu-toggle"><i class="fa fa-list"></i></div>
    <div class="mobile-border"><span></span></div>

    <!--Main Menu-->
    <menu></menu>

    <!--Toolbar-->
    <navbar></navbar>
  </div>
</header>
<!--Header Close-->
