<nav class="menu">
  <ul class="main">
    <li class="has-submenu">
      <a href="index.html">Accueil
        <i class="fa fa-chevron-down"></i>
      </a>
      <!--Class "has-submenu" for proper highlighting and dropdown-->
      <ul class="submenu">
        <li>
          <a href="index.html">Home - Slideshow</a>
        </li>
        <li>
          <a href="home-fullscreen.html">Home - Fullscreen Slider</a>
        </li>
        <li>
          <a href="home-showcase.html">Home - Product Showcase</a>
        </li>
        <li>
          <a href="home-categories.html">Home - Categories Slider</a>
        </li>
        <li>
          <a href="home-offers.html">Home - Special Offers</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="shop-filters-left-3cols.html">Fonctionnement
        <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li>
          <a href="shop-filters-left-3cols.html">Shop - Filters Left 3 Cols</a>
        </li>
        <li>
          <a href="shop-filters-left-2cols.html">Shop - Filters Left 2 Cols</a>
        </li>
        <li>
          <a href="shop-filters-right-3cols.html">Shop - Filters Right 3 Cols</a>
        </li>
        <li>
          <a href="shop-filters-right-2cols.html">Shop - Filters Right 2 Cols</a>
        </li>
        <li>
          <a href="shop-no-filters-4cols.html">Shop - No Filters 4 Cols</a>
        </li>
        <li>
          <a href="shop-no-filters-3cols.html">Shop - No Filters 3 Cols</a>
        </li>
        <li>
          <a href="shop-single-item-v1.html">Shop - Single Item Vers 1</a>
        </li>
        <li>
          <a href="shop-single-item-v2.html">Shop - Single Item Vers 2</a>
        </li>
        <li>
          <a href="shopping-cart.html">Shopping Cart</a>
        </li>
        <li>
          <a href="checkout.html">Checkout Page</a>
        </li>
        <li>
          <a href="wishlist.html">Wishlist</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="blog-sidebar-right.html">Faq
        <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li>
          <a href="blog-sidebar-left.html">Blog - Sidebar Left</a>
        </li>
        <li>
          <a href="blog-sidebar-right.html">Blog - Sidebar Right</a>
        </li>
        <li>
          <a href="blog-single.html">Blog - Single Post</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="#">Pages
        <span class="label">NEW</span>
        <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li>
          <a href="register.html">Login / Registration</a>
        </li>
        <li>
          <a href="account-personal-info.html">Account: Personal Info
            <span class="label">NEW</span>
          </a>
        </li>
        <li>
          <a href="account-addresses.html">Account: Addresses
            <span class="label">NEW</span>
          </a>
        </li>
        <li>
          <a href="order-history.html">Orders History
            <span class="label">NEW</span>
          </a>
        </li>
        <li>
          <a href="order-tracking.html">Order Tracking
            <span class="label">NEW</span>
          </a>
        </li>
        <li>
          <a href="delivery-info.html">Delivery Info
            <span class="label">NEW</span>
          </a>
        </li>
        <li>
          <a href="about.html">About Us</a>
        </li>
        <li>
          <a href="contacts.html">Contacts</a>
        </li>
        <li>
          <a href="coming-soon.html">Coming Soon</a>
        </li>
        <li>
          <a href="404.html">404 Page</a>
        </li>
        <li>
          <a href="support.html">Support Page</a>
        </li>
        <li>
          <a href="cs-page.html">Components &amp; Styles</a>
        </li>
      </ul>
    </li>
    <li class="hide-sm">
      <a href="support.html">Support</a>
    </li>
  </ul>
  <ul class="catalog">
    <li class="has-submenu">
      <a href="shop-filters-left-3cols.html">Ventes en cours
        <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="submenu">
        <li>
          <a href="#">Consoles</a>
        </li>
        <li class="has-submenu">
          <a href="#">Smartphones</a>
          <!--Class "has-submenu" for adding carret and dropdown-->
          <ul class="sub-submenu">
            <li>
              <a href="#">iPhone 4</a>
            </li>
            <li>
              <a href="#">iPhone 4s</a>
            </li>
            <li>
              <a href="#">iPhone 5c</a>
            </li>
            <li>
              <a href="#">iPhone 5s</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Appareils Photo</a>
        </li>
        <!-- <li class="has-submenu">
          <a href="#">Samsung</a>
          <ul class="sub-submenu">
            <li>
              <a href="#">Galaxy Note 3</a>
            </li>
            <li>
              <a href="#">Galaxy S5</a>
            </li>
            <li>
              <a href="#">Galaxy S3 Neo</a>
            </li>
            <li>
              <a href="#">Galaxy Gear</a>
            </li>
            <li>
              <a href="#">Galaxy S Duos 2</a>
            </li>
          </ul>
        </li> -->
        <li>
          <a href="#">Divers</a>
        </li>
        <li class="offer">
          <div class="col-1">
            <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.</p>
          </div>
          <div class="col-2">
            <img src="img/offers/menu-drodown-offer.jpg" alt="Special Offer" />
            <a class="btn btn-block" href="#">
              <span>584$</span>Special offer</a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <a href="shop-filters-left-3cols.html">Prochainement</a>
    </li>
    <li>
      <a href="shop-filters-left-3cols.html">Historique</a>
    </li>
  </ul>
</nav>
